 .example-spacer {
     flex: 1 1 auto;
 }

 mat-toolbar {
     background: #3f51b5;
     color: white
 }

 .example-sidenav-content {
     margin: 25px 0px 0px 15px
 }

 .example-container {
     height: 100vh;
 }